 <!--Código da janela que aparece com o formulário-->

 <div id="modal" class="hide"> <!--Classe hide adiocionada par deizar escondido-->
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Ferchar</a>
        </div>
        <form action="search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search">
                <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>